body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.searchbutton {
  border: none;
  margin-top: 8px;
  width: 80px;
  height: 62px;
  cursor: pointer;
}
.searchbutton:hover {
  color: white;
  background-color: gray;
}
.searchbar {
  display: flex;
}
.search-container {
  display: flex;
  justify-content: space-between;
}
.topnav {
  height: 80px;
  background-color: #e9e9e9;
}

.topnav input[type="text"] {
  padding: 6px;
  height: 50px;
  width: 100%;
  margin-top: 8px;
  font-size: 24px;
  border: none;
}
.buttons {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 5px 0px;
}
.buttons > span {
  cursor: pointer;
}

.buttons > span:hover {
  color: #ccc;
}

/* ------------------------------- */
.row {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.column {
  width: 250px;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
  border-radius: 0px 0px 4px 4px;
}
.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.button {
  border: none;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
img {
  border-radius: 4px 4px 0px 0px;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(18px);
}
.model {
  height: 65%;
  width: 30%;
  background-color: #9fa9a3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.close {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #ff0000;
  font-size: x-large;
  cursor: pointer;
}

/* ---------------------------- */

.modelcard {
  max-width: 100%;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.modeltitle {
  color: grey;
  font-size: 18px;
}

.modelcard h1 {
  color: #daebe8;
}
.modelcard p {
  color: #454140;
}
